<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	      name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Florin Lațcu</title>
	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/img/favicon.ico" rel="icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
	      rel="stylesheet">
</head>

<body>
	<div class="top-container">
		<img class="top-cloud" src="static/img/cloud.png" alt="cloud-img">
		<h1>I'm Florin.</h1>
		<h2>a <span class="pro">pro</span>grammer</h2>
		<img class="bottom-cloud" src="static/img/cloud.png" alt="cloud-img">
		<img src="static/img/mountain.png" alt="mountain-img">
	</div>
	<div class="middle-container">
    <div class="profile">
      <img class="profile-picture" src="static/img/florin.png" alt="profile-picture">
      <h2>Hello.</h2>
      <p class="intro">I am a Software Engineer. I love developing functions and features in automotive industry. Like to learn
      about Web Development, Python, Mobile Applications and Finances.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="automotive-picture" src="static/img/automotive.png" alt="automotive">
        <h3>Automotive</h3>
        <p>Started working in Automotive industry since 2015. Developed
	        Access features like Key-Fob, technologies used are:
	        BLE (Bluetooth Low Energy), UWB (Ultra Wide Band), RSSI (Received Signal Strength Indicator),
	        AUTOSAR (AUTomotive Open System ARchitecture), Embedded Systems, C Language for Embedded Systems </p>
      </div>
	    <div class="skill-row">
        <img class="coding-picture" src="static/img/coding.png" alt="coding-picture">
        <h3>Web Development and Python</h3>
        <p>Very passionate about learning Web Development and Python. Learning in
	        platforms like Udemy and Pluralsight.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>I am opened for new projects.</h3>
      <p class="contact-message">I would love to create and design applications and Web Pages for my portfolio. And
      in the future to work on real Web Projects (Back-End and Front-End).</p>
      <a class="btn" href="mailto:florin.latcu@gmail.com">CONTACT ME</a>
    </div>
	</div>
	<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/florin-lațcu-731b7158/">LinkedIn</a>
    <a class="footer-link" href="https://www.facebook.com/florin.latcu89/">Facebook</a>
    <a class="footer-link" href="https://latzcone.github.io/My_Personal_Site/">Website</a>
    <p class="copyright">©{{ year }} Site built by Florin Lațcu.</p>
	</div>
</body>

</html>